TELEGRAM_TOKEN=YOUR_TOKEN_HERE
TELEGRAM_CHAT_ID=YOUR_CHAT_ID_HERE

BITCOIN_CLI="/home/hvmelo/bitcoin/bitcoin-30.2/bin/bitcoin-cli"
BITCOIN_DATADIR="/mnt/umbrel/state/default/persist/data/umbrel-os/home/umbrel/umbrel/app-data/bitcoin/data/bitcoin"

SLEEP_INTERVAL=60
PERIODIC_INTERVAL_MINUTES=60

CRITICAL_BATTERY=20
CHECK_INTERVAL=30

POWER_FILE="/sys/class/power_supply/ADP1/online"
